<!DOCTYPE html>
<html lang="en">
<head>
     <title>Day Win - Tasks</title>
    <link rel="stylesheet" href="/css/tasks.css" />
    <%- include('partials/headers.ejs') %>
</head>
<body>
    <nav id="nav">
        <ul>
            <li><a href="/tasks">HOME</a></li>
            <li><a href="">PROGRESS</a></li>
        </ul>
    </nav>

    <h1>Daily Tasks</h1>

    <form action="/tasks" method="POST">
        <label for="taskName">New Task:</label>
        <input type="text" id="taskName" name="taskName" required>
        <input type="submit" value="Add Task">
    </form>

    <% function capitalizeFirst(taskName) {
        return taskName.charAt(0).toUpperCase() + taskName.slice(1);
    } %>

    <ul>
        <% for (let i in Task) { %>
            <li>
                <div><h3><%= capitalizeFirst(Task[i].taskName)  %></h3></div>
                <div>Status: <%= Task[i].status %></div>

                <form action="/tasks/<%= Task[i]._id %>?_method=DELETE" method="POST" style="display: inline-block;">
                    <input type="submit" value="Delete" class="action-button">
                </form>

                <form action="/tasks/<%= Task[i]._id %>/edit" method="GET" style="display: inline-block;">
                    <input type="submit" value="Edit" class="action-button">
                </form>
            </li>
        <% } %>
    </ul>

</body>
</html>
